---
layout: default
---
<div class="wrapper">
  <div class="main-header">
    <div class="logo-header">
      <a href="index.html" class="logo" style="color: white;">
        Vote : ANU
      </a>
    </div>
    <nav class="navbar navbar-header navbar-expand-lg" id="navigation">
      <div class="container-fluid"></div>

    </nav>
    <style>
      h1 {

        text-align: center;
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 50px;
        letter-spacing: 0.8px;
        word-spacing: 2px;
        color: #000000;
        font-weight: normal;
        text-decoration: none;
        font-style: italic;
        font-variant: normal;
        text-transform: none;

      }
    </style>

  </div>
  <div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active">
          <a href="index.html">
            <i class="la la-dashboard"></i>
            <p>Ballot Results</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="forms.html">
            <i class="la la-users"></i>
            <p>Candidates</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="constituencies.html">
            <i class="la la-university"></i>
            <p>Constituencies</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="vote-now.html">
            <i class="la la-times-circle"></i>
            <p>Vote Now</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <style>
    .sidebar {
      background-color: #000000;
    }

    .main-header {
      background-color: #000000;
    }
  </style>

  <div class="main-panel">
    <div class="content">
      {{ content }}
    </div>
  </div>
  <footer class="footer">
    <div class="container-fluid">
      <nav class="pull-left">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Help
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright ml-auto">
        Made with <i class="la la-heart heart text-danger"></i> by <a href="#">Shavani S. Stewart & Canice
          James(2019)</a>
      </div>
    </div>
  </footer>
</div>
</div>
</div>